.main {
  display: flex;
  justify-content: center;
  max-width: 1500px;
  margin: 0;
}

.content{
  width: 80%;
  padding: 10px;
}

@media screen and ( max-width:586px ) {
  .content {
    width: 100%;
    padding: 0px;
  }
  
}

