@import url(../../../globalStyle.css);

.contact-hero{
    display: flex;
    position: relative;
    margin-top: 3rem;
}

.contact-hero > div:nth-child(1){
    background-image: url("../../../assets/contact/desktop/image-hero.jpg");
    width: 800px;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(17, 16, 19, 0.363);
    background-position: 50% 50%;
}

.contact-hero > div:nth-child(2){
    width: 700px;
    padding: 100px;
    background: white;
    position: absolute;
    bottom: 0;
    right: 0;
}

.contact-hero > div:nth-child(2) > div:nth-child(1) {
    font-size: calc(3rem + 6vw);
    font-weight: bold;
    color: var(--very-light-grey);
    position: absolute;
    top: -2rem;
    left: -3rem;
}

.contact-hero > div:nth-child(2) > div:nth-child(2){
    width: 5rem;
    height: 1px;
    background-color: var(--light-grey);
    margin: 40px 0;
}

.contact-hero > div:nth-child(2) > div:nth-child(3) > h3 {
    font-size: calc(1rem + 2vw);
    margin-bottom: 30px;
}

.contact-hero > div:nth-child(2) > div:nth-child(3) > p {
    line-height: 1.8;
}


@media screen and ( max-width: 800px ) {
    
    .contact-hero {
        flex-direction: column;
    }
    
    .contact-hero > div:nth-child(1) {
        background-image: url("../../../assets/contact/tablet/image-hero.jpg");
        height: 15rem;
        width: 100%;
        position: relative;
    }
    
    .contact-hero > div:nth-child(2) {
        position: static;
        width: 100%;
        padding: 20px;
    }
    .contact-hero > div:nth-child(2) > div:nth-child(1) {
        display: none;
    }

}

@media screen and ( max-width: 586px ) {
    .contact-hero > div:nth-child(1) {
        background-image: url("../../../assets/contact/mobile/image-hero.jpg");
    }
}